.app{
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ui.input{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.bct {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 20rem;
}
